# Problem -1

In [30]:
from datetime import datetime
import pandas as pd

In [31]:
date_list = ['1990-01-01', '1991-01-01', '1992-01-01']
date_list = [pd.to_datetime(date) for date in date_list]
age_list = [int(datetime.now().strftime('%Y')) - int(date.strftime('%Y')) for date in date_list]

In [32]:
age

[30, 29, 28]

In [25]:
int(date_list[0].strftime('%Y'))

1990

In [20]:
[date for date in date_list]

[Timestamp('1990-01-01 00:00:00'),
 Timestamp('1991-01-01 00:00:00'),
 Timestamp('1992-01-01 00:00:00')]

In [26]:
[int(datetime.now().strftime('%Y')) - int(date.strftime('%Y')) for date in date_list]

[30, 29, 28]

In [16]:
datetime.now().strftime('%Y')

'2020'

# Problem-2

In [ ]:
# pd.ne, pd.eq, cumsum(), df.series.shift(), pd.group_by.agg

In [39]:
import pandas as pd
data_dict = {'S. No.': [1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2], 
             'user': ['Sam', 'John', 'Sam', 'John', 'John', 'John', 'Sam', 'Sam', 'Mary', 'Jake', 'Jake', 'Mary', 'Jake ', 'Mary', 'Mary', 'Mary', 'Jake'], 
             'Text': ['Hello', 'Hi', 'How are you?', 'I am good', 'How about you?', 'How is it going?', 'Its going good', 'Thanks', 'Howdy?', 'Hey!!', 'What a surprise', 'Good to see you here :)', 'Ha ha. Hectic life', 'I know right..', "How's Amy doing?", 'How are the kids?', 'All is good! :)']}
sample_data = pd.DataFrame(data_dict)
sample_data

    S. No.   user                     Text
0        1    Sam                    Hello
1        1   John                       Hi
2        1    Sam             How are you?
3        1   John                I am good
4        1   John           How about you?
5        1   John         How is it going?
6        1    Sam           Its going good
7        1    Sam                   Thanks
8        2   Mary                   Howdy?
9        2   Jake                    Hey!!
10       2   Jake          What a surprise
11       2   Mary  Good to see you here :)
12       2  Jake        Ha ha. Hectic life
13       2   Mary           I know right..
14       2   Mary         How's Amy doing?
15       2   Mary        How are the kids?
16       2   Jake          All is good! :)

In [60]:
blocks = sample_data['user'].ne(sample_data['user'].shift()).cumsum(axis=0)

In [61]:
sample_data.groupby([blocks]).agg({'user': 'first', 'Text': ','.join}).reset_index('user', drop=True)

     user                                               Text
0     Sam                                              Hello
1    John                                                 Hi
2     Sam                                       How are you?
3    John          I am good,How about you?,How is it going?
4     Sam                              Its going good,Thanks
5    Mary                                             Howdy?
6    Jake                              Hey!!,What a surprise
7    Mary                            Good to see you here :)
8   Jake                                  Ha ha. Hectic life
9    Mary  I know right..,How's Amy doing?,How are the kids?
10   Jake                                    All is good! :)

# Problem-3 Renaming all file names in a folder

In [4]:
import os 
  
# Function to rename multiple files 
def main(): 
  
    for count, filename in enumerate(os.listdir(r"C:\Users\prane\OneDrive\Desktop\local_rep\freelancing\Data\Run Out Classifier\Data\Not RunOut")): 
        dst ="Not_Run_Out" + str(count) + ".jpg"
        src =r'C:\Users\prane\OneDrive\Desktop\local_rep\freelancing\Data\Run Out Classifier\Data\Not RunOut//'+ filename 
        dst =r'C:\Users\prane\OneDrive\Desktop\local_rep\freelancing\Data\Run Out Classifier\Data\Not RunOut//'+ dst 
          
        # rename() function will 
        # rename all the files 
        os.rename(src, dst) 
  
# Driver Code 
if __name__ == '__main__': 
      
    # Calling main() function 
    main()